aiocontextvars==0.2.2
aiohttp==3.8.6
aiosignal==1.2.0
anyio==3.6.2
asgiref==3.4.1
async-generator==1.10
async-timeout==4.0.2
asynctest==0.13.0
attrs==19.3.0
certifi==2024.12.14
cffi==1.15.1
chardet==5.0.0
charset-normalizer==2.0.12
class-doc==0.2.0b0
click==8.0.4
contextlib2==21.6.0
contextvars==2.4
cryptography==36.0.2
dataclasses==0.8
fastapi==0.68.0
frozenlist==1.2.0
h11==0.12.0
httpcore==0.14.7
httpx==0.22.0
idna==3.10
idna-ssl==1.1.0
immutables==0.19
importlib-metadata==4.8.3
loguru==0.7.3
more-itertools==7.2.0
multidict==5.2.0
pdfminer.six==20211012
pdfplumber==0.6.0
Pillow==8.4.0
prometheus-client==0.17.1
psutil==6.1.1
pycparser==2.21
pydantic==1.9.2
pydantic-settings==0.2.5
PyPDF2==2.12.1
pytesseract==0.3.7
python-dotenv==0.20.0
python-multipart==0.0.5
PyYAML==5.4.1
requests==2.27.1
rfc3986==1.5.0
six==1.17.0
sniffio==1.2.0
starlette==0.14.2
tomlkit==0.5.11
typing-extensions==3.10.0.2
urllib3==1.26.20
uvicorn==0.15.0
Wand==0.6.13
websockets==9.1
yarl==1.7.2
zipp==3.6.0
